@import "variables.scss";  

.filter{
    border-bottom: 2px solid $greyLine;
    padding: 15px 2px;;
    width: 100%;

    .title-filter{
        font-family: "Segoe UI";
        font-weight: 700;
        font-size: 16px;
        cursor: pointer;
        margin: 8px 0px;
        position: relative;
        
        &:hover{
            opacity: 0.6;
        }

        .open-close{
            position: absolute;
            right: 0px;
            font-size: 28px;
            top: -10px;
        }
    }

    .check-filter{
        margin: 4px;
        font-family: "Segoe UI";
        color: $grey;
        position: relative;

        input{
            -webkit-appearance: none;
            background-color: white;
            border: 1px solid #cacece;
            padding: 8px;
            display: inline-block;
            margin-top: 5px;
            cursor: pointer;

            &:active {
                box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
            }
            
            &:checked {
                background-color: white;
                border: 1px solid #adb8c0;
                color: #99a1a7;
            }

            &:checked:after {
                content: '\2714';
                font-size: 14px;
                position: absolute;
                top: 4px;
                left: 7px;
                color: black;
            }
        }

        label{
            position: absolute;
            top: 3px;
            left: 30px;
            cursor: pointer;
        }
    }
}