@import "variables.scss";  

.header-top{
    margin-top: 85px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;

    @media (max-width: 600px){
        height: 30px;
    }

    .header-logo{
        margin-left: calc(10% + 15px);
        cursor: pointer;

        @media (max-width: 600px){
            margin-left: calc(50% - 120px);
            display: none;
         }
    }

    .header-top-search{
        position: absolute;
        right: 10%;
        width: 250px;
        height: 38px;
        margin-top: 5px;
        padding: 0px 10px;
        padding-right: 80px;
        border: 1px solid $greyLine;

        &::placeholder{
            color: $grey;
        }

        @media (max-width: 600px){
            display: block;
            width: calc(100% - 20px - 90px);
            right: 10px;
            top: 76.5px;
         }
    }

    .header-top-search-ico{
        background-image: url('../images/search.png');
        width: 80px;
        height: 38px;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        right: calc(10% - 8px);
        top: 91px;
        cursor: pointer;

        @media (max-width: 600px){
            display: block;
            top: 82.5px;
            right: 2px;
         }

        &:hover{
            opacity: 0.9;
        }
    }

    .links-header-top{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 50px;

        @media (max-width: 600px){
            margin-left: 0;
            width: 100%;
            border-bottom: 1px solid $greyLine;
            margin-bottom: -20px;
         }

        .link-header-top{
            letter-spacing: 0px;
            font-weight: 700;
            margin: 10px;
            margin-top: 20px;
            font-family: Arial, Helvetica, sans-serif;
            cursor: pointer;

            @media (max-width: 600px){
                display: none;
            }

            &:hover{
                opacity: 0.6;
            }            
        }
    }
}